<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Млын Дудуткі</string>
		<key>description</key>
		<string>Стары млын з элемантамі беларускай культуры.</string>
		<key>history</key>
		<string>Пабудаваны ў XVIII стагоддзі.</string>
		<key>imageName</key>
		<string>mlyn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Касцёл Святой Тэрэзіі</string>
		<key>description</key>
		<string>Гістарычны касцёл у цэнтры комплексу</string>
		<key>history</key>
		<string>Збудаваны ў 1905 годзе</string>
		<key>imageName</key>
		<string>kostel</string>
	</dict>
</array>
</plist>
